@font-face {
	font-family:"Intro Regular";
	src: url("../fonts/Intro-Regular.woff")  
}

@font-face {
	font-family:"mfn-icons";
	src: url("../fonts/mfn-icons.woff")  
}
/* Reset styles */
* {
	padding: 0px;
	margin: 0px;
	border: 0px; 
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

:focus,
:active {
	outline: none; 
}

a:focus,
a:active {
	outline: none; 
}

aside,
nav,
footer,
header,
section {
	display: block; 
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	color: #000; 
}

body {
	font-family: "Intro Regular", Arial, Tahoma, sans-serif;
	font-size: 16px;
    line-height: 21px;
    font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
}

input,
button,
textarea {
	font-family: "Open Sans"; 
}

input::-ms-clear {
	display: none; 
}

button {
	cursor: pointer; 
}

button::-moz-focus-inner {
	padding: 0;
	border: 0; 
}

a,
a:visited {
	text-decoration: none; 
}

a:hover {
	text-decoration: none; 
}

ul li {
	list-style: none; 
}

img {
	vertical-align: unset; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit; 
}

.containerNav {
	min-height: 40px;
	max-width: 1220px;
}

.mrg-item {
    margin: 0 20px;
}

.actionRowWrapper {
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 10px #e9e9e9;
	color: #575756;
}

.actionRow {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.socialLocalizationWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialLink img {
	margin-left: .2em;	
}

.contactsRow {
	background-color: rgba(255,255,255,0);
}

.contactsRowWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	min-height: 90px;
}

.contactContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavContcontainerTxt {
	display: flex;
	flex-flow: column;
}

.NavContactTel,
.NavContactEmail, 
.NavContactAdress {
	display: flex;
	min-width: 195px;
	width: 220px;
}

.NavContactImg {
	width: 23%;
}
.NavContactEmail .NavContactImg{
	width: 31.33%;
}

.contactContainer span {
	font-size: 13px;
	line-height: 1;	
	color: #737d27;
	max-width: 77%;
	padding: 2px 0px;
}

.requestButton {
	min-width: 195px;
	width: 220px;
}

a.button {
	background-color: #737d27;
	color: #ffffff;
	font-size: 13px;	
	padding: 15px 30px;	
}

.navMenu {
	min-height: 54px;
	height: 1px;
	background-color: #737d26;
}	

.navMenuWrapper {
	height: 100%;
	margin: 0px auto;
}

.ListWrapper {
	display: flex;
	position: relative;
	width: fit-content;
	height: inherit;
	justify-content: space-between;	
	align-items: center;
	margin: 0px auto;
}

.navMenu span{
	font-size: 18px;
	color: #fafafa;
}

.navMenuWrapper ul li {
	padding: 0px 19px;
}

.navMenuWrapper .navMenuList:after {
    font-family: 'mfn-icons';
    content: '\e869';	
	padding: 0px 0px 0px 7px;
}

.outList {
	background-color: #fff;
	position: absolute;
	top: 100%;
	z-index: 3;
}

ul.outList li {
	padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

ul.outList li:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;	
}


.slider {
	height: 501px;
	background: rgba(0, 0, 0, 0.5) url("../img/background/slideBack.png");
	position: relative;
}

.sliderContentWrapper {
	position: absolute;
    top: 50%;
	width: -webkit-fill-available;
}

.sliderContent {
	margin: 0 auto;
	width: fit-content;
}

.sliderContentTextInfo {
	width: 70%;
	color: #fff;
	font-size: 55px;
	font-weight: 700;
}




@media (max-width: 375px) { 
	
	.contactContainer {
		display: none;
	}
	
}
