@font-face {
	font-family:"Intro Regular";
	src: url("../fonts/Intro-Regular.woff")  
}

@font-face {
	font-family:"mfn-icons";
	src: url("../fonts/mfn-icons.woff")  
}

.slide-left {
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.focus-in-expand {
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}


.slide-in-fwd-center {
	animation: slide-in-fwd-center 2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
@keyframes slide-in-fwd-center {
	0% {
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}


.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

/* Reset styles */
* {
	padding: 0px;
	margin: 0px;
	border: 0px; 
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

:focus,
:active {
	outline: none; 
}

a:focus,
a:active {
	outline: none; 
}

aside,
nav,
footer,
header,
section {
	display: block; 
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	color: #000; 
}

body {
	font-family: "Intro Regular", Arial, Tahoma, sans-serif;
	font-size: 16px;
    line-height: 21px;
    font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
}

input,
button,
textarea {
	font-family: "Open Sans"; 
}

input::-ms-clear {
	display: none; 
}

button {
	cursor: pointer; 
}

button::-moz-focus-inner {
	padding: 0;
	border: 0; 
}

a,
a:visited {
	text-decoration: none; 
}

a:hover {
	text-decoration: none; 
}

ul li {
	list-style: none; 
}

img {
	vertical-align: unset; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit; 
}

.containerNav {
	min-height: 40px;
	max-width: 1220px;
}

.mrg-item {
    margin: 0 20px;
}

.actionRowWrapper {
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 10px #e9e9e9;
	color: #575756;
}

.actionRow {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.socialLocalizationWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialLink img {
	margin-left: .2em;	
}

.contactsRow {
	background-color: rgba(255,255,255,0);
}

.contactsRowWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	min-height: 90px;
}

.contactContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavContcontainerTxt {
	display: flex;
	flex-flow: column;
}

.NavContactTel,
.NavContactEmail, 
.NavContactAdress {
	display: flex;
	min-width: 195px;
	width: 220px;
}

.NavContactImg {
	width: 23%;
}
.NavContactEmail .NavContactImg{
	width: 31.33%;
}

.contactContainer span {
	font-size: 13px;
	line-height: 1;	
	color: #737d27;
	max-width: 77%;
	padding: 2px 0px;
}

.requestButton {
	min-width: 195px;
	width: 220px;
}

a.button {
	background-color: #737d27;
	color: #ffffff;
	font-size: 13px;	
	padding: 15px 30px;	
}

.navMenu {
	min-height: 54px;
	height: 1px;
	background-color: #737d26;
}	

.navMenuWrapper {
	height: 100%;
	margin: 0px auto;
}

.ListWrapper {
	display: flex;
	position: relative;
	width: fit-content;
	height: inherit;
	justify-content: space-between;	
	align-items: center;
	margin: 0px auto;
}

.navMenu span{
	font-size: 18px;
	color: #fafafa;
}

.navMenuWrapper ul li {
	padding: 0px 19px;
}

.navMenuWrapper .navMenuList:after {
    font-family: 'mfn-icons';
    content: '\e869';	
	padding: 0px 0px 0px 7px;
}

.outList {
	background-color: #fff;
	position: absolute;
	top: 100%;
	z-index: 3;
}

ul.outList li {
	padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

ul.outList li:hover {
	background-color: rgba(0,0,0,.05);
	cursor: pointer;	
}

.slider {
	height: 501px;
	background-image: url("../img/background/slideBack.png");
	background-position: center;
}


.sliderContent {	
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.5);
	height: inherit;
	align-items: center;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-ms-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
}

.sliderContentTextInfo {
	width: 70%;
	line-height: initial;
	text-align: center;
}

.sliderContentTextInfo h1 {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
	text-align: center;	
	margin-bottom: 20px;
}

.sliderContentTextInfo span {
	color: #fff;
	font-weight: 400;
    font-size: 18px;
	text-align: center;	
}

.sliderContentTextInfo a {
	display: block;
	width: fit-content;
	margin: 0 auto;
	margin-top: 30px;
	
}

.sliderContentTextInfo .button span {
	font-size: 15px;
}

.prevBtn:after {
	font-family: 'mfn-icons';
	content: '\e8b8';	
	cursor: pointer;
	margin: 0px 25px;
	padding: 0px 20px;
    font-size: 40px;
	color: #fff;
}

.nextBtn:after {
	font-family: 'mfn-icons';
	content: '\e916';
	cursor: pointer;
	margin: 0px 25px;
	padding: 0px 20px;
	font-size: 40px;
	color: #fff;
}

.counter {
	padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fafafa;
}

.counterWrapper {
	max-width: 1220px;
	margin: 0 auto;
}

.counterContent {
	display: flex;
	justify-content: space-between;
}

.old,
.pcsPallets,
.sucsOrder,
.kindProd {
    display: flex;
    flex-flow: column;
    align-items: center;	
}

.counterContent .number {
	color: #737d26;
    font-size: 55px;
	font-weight: 800;
    line-height: 50px;
    margin-bottom: 12px;
}

.counterContent .tittle {
	font-size: 18px;
    line-height: 23px;
    color: #1a3a1d;
	font-weight: 800;
    letter-spacing: 0px;
}

.aboutCompany {
	background-image: url("../img/background/pallets-bg.png");
	padding-top: 70px;
    padding-bottom: 70px;
	background-attachment: fixed;
	background-position: center;
}

.aboutCompanyWrapper {
	max-width: 1220px;
	margin: 0 auto;
}

.aboutCompanyContent {
	width: 66.666%;
	margin: 0 auto;
}

.aboutCompany .tittle {
	font-size: 35px;
    line-height: 39px;
    font-weight: 700;
    letter-spacing: 0px;    
	color: #737d27;	
	text-align: center;
	margin-bottom: 35px;
}

.aboutCompany h2 {
	display: inline;
}

.aboutCompany span {
	text-align: center;
	color: #575756;
	font-size: 16px;
}

.aboutCompany span p {
	margin: 0 0 15px;
}

.DetailsButton {
	text-align: center;
	margin: 40px;
}

.DetailsButton span {
	color: #fff;
	font-size: 17.6px;
}

.PresentationCompany {
	padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/background/video-block-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

.PresentationCompanyWrapper {
	max-width: 1220px;
	margin: 0 auto;
}

.PresentationCompanyContainer {
	display: flex;
    flex-flow: column;
    align-items: center;
}

.PresentationCompanyContainer h2 {
	color: #fff;
	font-size: 35px;
    line-height: 39px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.PresentationCompanyContainer .desc {
	color: #fff;
	font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0px;
	margin-top: 20px;
	margin-bottom: 25px;
}

footer {
	padding: 60px 0 111px 0;
	background-image: url("../img/background/pallets-bg-color.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

footer h4 {
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
	color: #ffffff;
	font-weight: 800;
    letter-spacing: 0px;
	margin-bottom: 15px;
}

.footerContainer li {
    margin-bottom: 9px;
}

.footerContainer li a {
    color: #ccc;
	padding: 0;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 23px;
}

.footerWrapper {
	max-width: 1220px;
	margin: 0 auto;
}

.footerContainer {
	display: flex;
	justify-content: space-between;
}

.Copyright {
	width: 48%;
}

.ProductionProducts,
.Services {
	width: 26%;
}

.Copyright p {
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
    padding-right: 13%;
}

.Copyright small {
	color: #e7e9df;
}

.footerCopy {
	position: absolute;
	bottom: 0;
	color: #fafafa;
    border: none;
    background-color: #575756;
	min-height: 59px;
	width: 100%;
}

.footerContainer{
	max-width: 1220px;
	margin: 0 auto;
}



@media (max-width: 375px) { 
	
	.contactContainer {
		display: none;
	}
	
}



